html {
    background-color: #1F2937;
}
.header {
    display: flex;
    justify-content: center;
    
}
.headercontent {
    display: flex;
    font-size: 12px;
    gap: 40px;
    align-items: center;
    
}
#logo {
    display: block;
    width: 150px;
    height: 100px;
    margin-right: 1100px;
}
#link {
    font-family: monospace;
    color: #E5E7EB;
    font-size: 18px;
    font-weight: 100;
}
.introduction {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
#main_image {
    width: 350px;
    height: 200px;
    border-radius: 10px;
}
.mainsub_text {
    display: flex;
    flex-direction: column;
}
#main_text {
    font-family: monospace;
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bolder;
}
#sub_text {
    font-family: monospace;
    color: #E5E7EB;
    font-size: 18px;
}
.information {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 0px;
    right: 0px;
    background-color: #F9FAF8;
    margin-top: 60px;
}
#info_header {
    font-family: monospace;
    color: #1F2937;
    font-size: 36px;
    font-weight: bolder;
}
.info_main {
    display: flex;
    flex-direction: row;
    gap: 50px;
    margin-bottom: 60px;
}
.pic_info {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#pic {
    width: 270px;
    height: 200px;
    border: 4px solid #3882f6;
    border-radius: 10px;
}
#info {
    font-family: monospace;
    color: #1F2937;
    font-size: 18px;
    font-weight: 100;
}