html {
    background-color: #1F2937;
}
.header {
    display: flex;
    justify-content: center;
    
}
#headercontent {
    font-family: monospace;
    display: flex;
    font-weight: bolder;
    color: #F9FAF8;
    font-size: 12px;
    gap: 40px;
    
}
.logo {
    display: block;
    width: 150px;
    height: 100px;
    margin-right: 1100px;
}