html {
    background-color: #1F2937;
}
.header {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    height: 200px;
}
#headercontent {
    font-family: monospace;
    font-weight: bolder;
    color: #F9FAF8;
    font-size: 18px;
    gap: 10px;    
    
}
.logo {
    display: block;
    width: 100px;
    height: 100px;
    justify-content: left;
}